ul {
    padding: 0;
    width: 60%;
  }
  
li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: thin solid lightgray;
    padding: .5em;
  }
  
.analyse {
    background: blue;
    color: white;
    margin-right: 0.5em;
    border: none;
    border-radius: 2px;
    padding: .3em;
  }
  
