{%extends "base.html"%}
{% block title %}All coins{% endblock %}
{% block content %}
    {% load static %}
    <h2>All coins</h2>
    <input class="form-control" type="text" id="filter" placeholder="Search for a coin">
    <br>
    <ul class="list-group" id="names">
       {% for index in context.itertuples %}
           <li class="list-group-item" style="font-size:15px">
               <a href="{% url 'analytics' coin=index.id %}">{{ index.cryptocurrency }}</a>
           </li>
       {% endfor %}
    </ul>
    <script src="{% static 'js/coins.js' %}"></script>
{% endblock %}
