{%extends "base2.html"%}
{% block title %}Sign Up Page{% endblock %}
{% block content %}
  <div>
  <form action={{ url_for('signup') }} method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" name="name" required minlength="2"  autocomplete="off" value="" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1">Surname</label>
        <input type="text" class="form-control" name="surname" required minlength="2" value="" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Surname">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" required value="" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        {% for e in errors["email"] %} 
           <li class="error">{{e}}</li>
        {% endfor %}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" required id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
  </form> 
  </div>
<style>
  .error{
    font-size: smaller;
    color: red;
  }
</style>
{% endblock %}